@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
   --background-color: #7fffd4;
   --calc-main-color: rgba(255, 255, 255, 0.7);
   --calc-btn-color: #fff;
   background-color: r;
}

.App {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: var(--background-color);
}

#footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 15px;
}

#footer a {
   text-decoration: none;
   color: blue;
}

#calculator {
   width: 396px;
   padding: 4px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--calc-main-color);
   box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

#header {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding: 10px 20px;
}

#app_name {
   font-size: 1.2em;
}

#color {
   cursor: pointer;
   margin-left: auto;
   filter: alpha(opacity=75);
   -moz-pacity: .75;
   -khtml-opacity: .75;
   opacity: .75;
}

#color:hover {
   opacity: .6;
}

.display__screen {
   width: 100%;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

#formula {
   min-height: 25.6px;
   text-align: right;
   filter: alpha(opacity=60);
   -moz-pacity: .6;
   -khtml-opacity: .6;
   opacity: .6;
}

#display {
   line-height:65px;
   font-size: 3.2em;
   text-align: right;
   vertical-align: middle;
   font-family: 'Roboto Mono', monospace;
   filter: alpha(opacity=75);
   -moz-pacity: .75;
   -khtml-opacity: .75;
   opacity: .75;
}

.keyboard {
   width: 100%;
   display: grid;
   justify-content: center;
   grid-template-columns: 96px 96px 96px 96px;
   grid-template-rows: 49px 49px 49px 49px 49px 49px;
   gap: 1.6px;
}

.keyboard button {
   background-color: var(--calc-btn-color);
   border: none;
   text-decoration: none;
   outline: none;
   cursor: pointer;
   font-size: 17px;
   transition: 0.5s;
}

.keyboard button:hover {
   filter: brightness(96%);
}

button.app__func-btn {
   filter: alpha(opacity=60) !important;
   -moz-pacity: .6 !important;
   -khtml-opacity: .6 !important;
   opacity: .6 !important;
}

/* First row */
#round {
   grid-column-start: 1;
   grid-row-start: 1;
}
#reset {
   grid-column-start: 3;
   grid-row-start: 1;
}
#clear {
   grid-column-start: 2;
   grid-row-start: 1;
}
#delete {
   grid-column-start: 4;
   grid-row-start: 1;
}
/* Second row */
#inv {
   grid-column-start: 1;
   grid-row-start: 2;
}
#sqr {
   grid-column-start: 2;
   grid-row-start: 2;
}
#sqrt {
   grid-column-start: 3;
   grid-row-start: 2;
}
#divide {
   grid-column-start: 4;
   grid-row-start: 2;
}
/* Third row */
#seven {
   grid-column-start: 1;
   grid-row-start: 3;
}
#eight {
   grid-column-start: 2;
   grid-row-start: 3;
}
#nine {
   grid-column-start: 3;
   grid-row-start: 3;
}
#multiply {
   grid-column-start: 4;
   grid-row-start: 3;
}
/* Fourth row */
#four {
   grid-column-start: 1;
   grid-row-start: 4;
}
#five {
   grid-column-start: 2;
   grid-row-start: 4;
}
#six {
   grid-column-start: 3;
   grid-row-start: 4;
}
#subtract {
   grid-column-start: 4;
   grid-row-start: 4;
}
/* Fith row */
#one {
   grid-column-start: 1;
   grid-row-start: 5;
}
#two {
   grid-column-start: 2;
   grid-row-start: 5;
}
#three {
   grid-column-start: 3;
   grid-row-start: 5;
}
#add {
   grid-column-start: 4;
   grid-row-start: 5;
}
/* Sixth row */
#sign-toggle {
   grid-column-start: 1;
   grid-row-start: 6;
}
#zero {
   grid-column-start: 2;
   grid-row-start: 6;
}
#decimal {
   grid-column-start: 3;
   grid-row-start: 6;
}
#equals {
   grid-column-start: 4;
   grid-row-start: 6;
   background-color: #e9d45e !important;
}
