:root {
   --background-color: #7FFFD4;
   --calc-main-color: rgba(255,255,255,.7);
   --calc-btn-color: #fff;
}

.App {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: var(--background-color);
}

#welcome {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 15px;
}

#calculator {
   width: 396px;
   padding: 4px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--calc-main-color);
   box-shadow: 0px 0px 15px 0px rgba(0,0,0,.3);
}

#app_name {
   font-size: 1.2em;
   padding: 10px 20px;
   align-self: flex-start;
}

#display {
   width: 100%;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

#formula-display {
   min-height: 27.2px;
   text-align: right;
   margin-bottom: 5px;
   opacity: 60%;
   filter: alpha(opacity=60);
}

#result-display {
   font-size: 2.63em;
   text-align: right;
}

#keyboard {
   width: 100%;
   display: grid;
   justify-content: center;
   grid-template-columns: 96px 96px 96px 96px;
   grid-template-rows: 48px 48px 48px 48px 48px 48px;
   gap: 1.6px;
}

#keyboard button {
   background-color: var(--calc-btn-color);
   border: none;
   text-decoration: none;
   outline: none;
   cursor: pointer;
   font-size: 17px;
}

button.app__func-btn {
   opacity: 60% !important;
}

/* First row */
#percent {
   grid-column-start: 1;
   grid-row-start: 1;
}
#reset {
   grid-column-start: 3;
   grid-row-start: 1;
}
#clear {
   grid-column-start: 2;
   grid-row-start: 1;
}
#delete {
   grid-column-start: 4;
   grid-row-start: 1;
}
/* Second row */
#inv {
   grid-column-start: 1;
   grid-row-start: 2;
}
#sqr {
   grid-column-start: 2;
   grid-row-start: 2;
}
#sqrt {
   grid-column-start: 3;
   grid-row-start: 2;
}
#divide {
   grid-column-start: 4;
   grid-row-start: 2;
}
/* Third row */
#seven {
   grid-column-start: 1;
   grid-row-start: 3;
}
#eight {
   grid-column-start: 2;
   grid-row-start: 3;
}
#nine {
   grid-column-start: 3;
   grid-row-start: 3;
}
#multiply {
   grid-column-start: 4;
   grid-row-start: 3;
}
/* Fourth row */
#four {
   grid-column-start: 1;
   grid-row-start: 4;
}
#five {
   grid-column-start: 2;
   grid-row-start: 4;
}
#six {
   grid-column-start: 3;
   grid-row-start: 4;
}
#subtract {
   grid-column-start: 4;
   grid-row-start: 4;
}
/* Fith row */
#one {
   grid-column-start: 1;
   grid-row-start: 5;
}
#two {
   grid-column-start: 2;
   grid-row-start: 5;
}
#three {
   grid-column-start: 3;
   grid-row-start: 5;
}
#add {
   grid-column-start: 4;
   grid-row-start: 5;
}
/* Sixth row */
#sign-toggle {
   grid-column-start: 1;
   grid-row-start: 6;
}
#zero {
   grid-column-start: 1;
   grid-column-end: span 2;
   grid-row-start: 6;
}
#decimal {
   grid-column-start: 3;
   grid-row-start: 6;
}
#equals {
   grid-column-start: 4;
   grid-row-start: 6;
   background-color: #E9D45E !important;
}